body{
    text-align:center;
    padding:50px;
    font-family:Cormorant Garamond, serif;
    background-color:#F4EEED;
    color:#000000;
    font-size:60px

}
h1,h2{
    font-family:Petit Formal Script, cursive;
    font-size:150px;
}
h3{
    font-family:Petit Formal Script, cursive;
    background-color:#9bbaab;
    font-size:150px;
    border:5px solid #000000;
    border-radius:20px;
    text-align:center;
    display:inline-block;
    padding:20px;
}


h4,h5,h6{
    font-family:Cormorant Garamond, serif;
    font-size:80px;
}

header{
    text-align:center;
    padding:20px;
}
/*Hero Section*/

#hero img{
    width:80%;
    height:30%;
}

/*Gallery Section*/

#gallery{
    border:#000000 solid 5px;
    background-color:#f2dbd5;
    margin:0 auto;
}

#gallery img{
    width:50%;
    height:30%;
    padding:20px;
}

/*Reviews Section*/

#reviews h2{
    border:3px solid #000000;
    border-radius:20px;
    display:inline-block;
    padding:20px;
    font: size 20px;
}

#reviews{
    text-align: left;
    border:3px solid #000000;
    background-color:#9bbaab;
    padding:20px;
    font-size:20px
}

/*phone size*/
@media screen and (max-width: 768px) {
    body{
        font-size:1em;
        padding:1em;
    }
    h1,h2{
        font-size:2em;
    }
    h3{
        font-size:2em;
        padding:.5em;
    }
    h4,h5,h6{
        font-size:2em;
    }
    #hero img{
        width:100%;
        height:auto;
        padding:1em;
    }
    #gallery{
        text-align:center;
    }

    #gallery img{
        width:100%;
        height:auto;

    }
}
